name: build
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ap-northeast-1
          role-skip-session-tagging: false
          role-to-assume: "arn:aws:iam::423695832787:role/GhaDockerPushToEcr"
      - id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/chachat
            ${{ steps.login-ecr.outputs.registry }}/chachat
          tags: |
            type=sha,prefix=
            type=raw,value=latest
      - uses: docker/build-push-action@v6
        with:
          context: "."
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
